@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* background: linear-gradient(135deg, #6B73FF, #000DFF, #6B73FF); */
    background-color: #1c1f2b;
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}


.container {
    background-color: #2a2e3d;;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
}

.info h3 {
    margin: 0 0 10px;
    font-weight: 500;
}

.info p {
    margin: 0 0 20px;
    font-weight: 300;
}

.continue a {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #32374a;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    /* transition: background 0.3s ease; */
}

.continue a:hover {
    background-color: #282c3f;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    text-align: left;
}

label span {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}
input {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
    outline: none;
    /* transition: background 0.3s ease; */
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #ccc;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.2);
}

button[type="submit"] {
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #32374a;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #282c3f;
}

.go-link {
    margin-top: 20px;
}

.go-link a {
    color: #357AE8;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.go-link a:hover {
    color: #357AE8;
}


.switch-page {
    color: white;
    font-weight: bold;
}

.verification-window {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

.verification-window h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

.verification-window p {
    font-weight: 300;
}