<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/auth_reg.css">
    <title>Reg</title>
</head>
<body>

    <div class="container">

        <form action="" method='post'>

            <label for="">
                <span>Enter first name:</span>
                <input class="form-control" type="text" name="first_name" placeholder="Login">
            </label>

            <label for="">
                <span>Enter last name:</span>
                <input class="form-control" type="text" name="last_name" placeholder="Login">
            </label>

            <label for="">
                <span>Enter email:</span>
                <input class="form-control" type="text" name="email" placeholder="Login">
            </label>

            <label for="">
                <span>Password:</span>
                <input class="form-control" type="password" name="userpass">
            </label>

            <button type="submit">Submit</button>
        </form>

        <p>Did you have accaunt? <a class="switch-page" href="">Sing in</a></p>

    </div>
</body>

</html>