<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statuses</title>
    <link rel="stylesheet" href="../assets/css/statuses.css">
</head>
<body>
    <div class="container">

                <button id="update-statuses">Update statuses</button>


<!--        <div class="info">-->

<!--        </div>-->

<!--        <div class="graph">-->

<!--        </div>-->

        <div class="table-content">
            <div class="filter">

                <form class="filter-group" method="get" action="/statuses">
                    <label for="sort-date">Sort by date:</label>
                    <select id="sort-date" name="sort" onchange="this.form.submit()">
                            <option value="asc" {% if sort == "asc" %}selected{% endif %}>From old to new</option>
                            <option value="desc"  {% if sort == "desc" %}selected{% endif %}>From new to old</option>
                    </select>
                </form>

                <div class="stats-summary">
                    <div class="stat-item">
                        <span class="label">Total leads:</span>
                        <span class="value">{{ count_leads }}</span>
                    </div>
                    <div class="stat-item">
                        <span class="label">FTD:</span>
                        <span class="value">{{ ftd }}</span>
                    </div>

                </div>

            </div>

            <table>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>FTD</th>
                    <th>Date</th>
                </tr>

                {% for lead in leads %}
                <tr>
                    <td>{{ lead.id }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.status[-1] }}</td>
                    <td>{{ lead.ftd }}</td>
                    {% set parts = lead.create_at|split() %}
                    <td>{{ parts[0]|replace("-") }}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- <div class="table"> -->
                
            <!-- </div> -->
        </div>
    </div>
</body>
<script>
    document.getElementById('update-statuses').addEventListener('click', async () => {
        await fetch("http://0.0.0.0:3000/update-statuses")
        window.location.reload()
    })
</script>
<style>
    button {
        background-color: #32374a;
        color: #ffffff;
        margin-bottom: 5px; 
        padding: 5px; 
        border-radius: 10px; 
        border-color: #3c4158;         
    }
    
    button:hover {
        background-color: #282c3f;    
    }
</style>
</html>